<% self.title = t('forms.backup_code.are_you_sure_title') %>

<%= render PageHeadingComponent.new.with_content(t('forms.backup_code.are_you_sure_title')) %>

<% t('forms.backup_code.are_you_sure_desc_html').each do |desc_p| %>
  <p><%= desc_p %></p>
<% end %>

<% if in_multi_mfa_selection_flow? %>
  <%= render PageFooterComponent.new do %>

    <%= form_tag(backup_code_delete_path, method: :delete) do %>

      <%= button_tag t('two_factor_authentication.choose_another_option'), type: 'submit', class: 'usa-button usa-button--unstyled' %>

    <% end %>
  <% end %>
<% end %>
